<header class="about_header">
  <div class="container">
    <div class="intro-text">
      <h1>Join Us</h1>
      </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <img class="logo" src="assets/helixLogo.png">
    <br>
    <h2><span class="emphasis"> Great team </span></h2>
    <p>We're a group with great skills and diverse backgrounds, always seeking out the most interesting and promising projects, whether in-house or in collaboration with other startups.</p>
    <hr>
    <h2> <span class="emphasis">Flexible work environment </span></h2>
    <p>Work wherever you want. Office, home, the beach or your local cafe; as a group or individually; part time or full time. Whatever works best for you and keeps you productive.</p>
    <hr>
    <h2> <span class="emphasis">Projects </span></h2>
    <p>We have a wide variety of interesting projects in the pipeline. We'd love to hear about what you want to work on, or even propose the next Helix project.</p>
    <hr>
    <h2> <span class="emphasis">Development and learning </span></h2>
    <p>We use a very broad range of technologies and are working on a large variety of products. We're eager to try new things and are always open minded. Our engineers pride themselves on always sharpening their saw. At Helix you'll find great support and a team with a wealth of experience to draw on while you're building something great. You'll be hard pressed to find a place with so much going on in a small team culture.</p>

  </div>
</section>