<header>
  <div class="container">
    <div class="intro-text">
      <h1>About Us</h1>
      </div>
  </div>
</header>

<section id="about">
  <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <div class="line"></div>
      </div>
      <div class="col-md-6">
        <h4 class="about-heading">Who we are</h4>
        <img class="img-responsive" src="/assets/sydney.png" alt="">
        <p class="text-muted">Lorem ipsum dolor sit amet, sit ad omnis illud reprehendunt, et nominati accommodare nec. In diceret laboramus reprimique cum. Quo ad error iudico accusata. An congue oratio maiorum eum. No est feugait euripidis. Sed cu homero iuvaret, nam nonumy omittam vulputate at.</p>
      </div>
      <div class="col-md-6">
        <h4 class="about-heading">Lorem Ipsum</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipisicing elit</li>
          <li>Minima maxime quam architecto quo</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipisicing elit</li>
          <li>Minima maxime quam architecto quo</li>
          <li>Consectetur adipisicing elit</li>
        </ul>
      </div>
  </div>
</section>