<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Helix Technologies Australia</div>
      <div class="intro-heading">A unique federation of highly skilled and experienced engineers. 
      	<br>
      	<a href="#services" class="page-scroll btn btn-xl"><i class="fa fa-angle-double-down fa-4x"></i></a> 
      </div>
  </div>
</header>

<section id="services">
  <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <div class="line"></div>
      </div>
    <div class="row text-center services">
      <div class="col-md-3"> <span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-tablet fa-stack-1x services-icon"></i> </span>
        <h4 class="service-heading">Lorum Ipsum </h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-3"> <span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-html5 fa-stack-1x services-icon"></i> </span>
        <h4 class="service-heading">Lorum Ipsum</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-3"> <span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-desktop fa-stack-1x services-icon"></i> </span>
        <h4 class="service-heading">Lorum Ipsum</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-3"> <span class="fa-stack fa-4x"> <i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-cogs fa-stack-1x services-icon"></i> </span>
        <h4 class="service-heading">Lorum Ipsum</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<section>
	


</section>