<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Helix Technologies Australia</div>
      <div class="intro-heading">A unique federation of highly skilled and experienced engineers. 
      	<br>
      	<a href="#clients" class="page-scroll btn btn-xl"><i class="fa fa-angle-double-down fa-4x"></i></a> 
      </div>
  </div>
</header>

<section id="clients">
    <% @projects.each do |project| %>
    <div class="project_box" style="background-image: url(<%= project.background_image %>)">
        <img src="<%= project.image %>" class="project_logo">
        <p><%= project.summary %> </p>
        <br><br>
        <a href="/projects/<%= project.id %>" class="button">More</a>
    </div>
    <% end %>
    <br>
</section>
