<header style="background: url('/assets/case_studies/<%= @project.image %>') center; background-size: cover">
  <div class="container">
    <div class="intro-text">
    </div>
  </div>
</header>

<br>

<div class="container">
      <h1><span class="emphasis"><%= @project.name %> </span> </h1>

	<p>
	  <%= @project.description %>
	</p>
</div>


