/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*navigation bar*/
.logo_box {
  width: auto;
  max-height: 100px;
  margin-top: -10px;
}

.icon-helix {
  background-image: url('http://i.imgur.com/Vcfxz7X.png');
}

.new_entry {
  text-align: center
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container textarea {
  width: 100%;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  border-radius: 10px;
  word-spacing: 0px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

.container input {
  border-radius: 10px;
}

.email_submit {
  border: 1px solid white;
  box-sizing: border-box;
  color: rgb(244, 249, 251);
  background: none;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  margin: 10px auto;
  padding: 20px 40px;
  text-align: center;
  width: 300px;
  border-radius: 10px;
}

input {
  margin-bottom: 10px;
}

#after_email {
  color: white;
}

